.outest {
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.outer-box {
height: 97vh;
width: 20em;
background: darkgray;
}
.inner-box {
  height: 80vh;
  width: 20em;
  background: lightgray;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}
.input-box{
  height: 12vh;
  width: 9em;
  font-size: 35px;
}
.numbers{
  height: 90px;
  width: 106.6px;
  font-size: 30px;
/*display: flex;*/
}

.special-buttons{
  height: 90px;
  width: 106.6px;
  font-size: 20px;
}

.return {
  display: flex;
  flex-grow: 2;
  justify-content: center;
}
